<!------菜单------->
<ul class="nav nav-inline admin-nav">
    <li class="active">
        <a href="index.html" class="icon-home"> 开始</a>
        {{ knp_menu_render('KitMenuBundle:AdminBuilder:mainMenu') }}
    </li>
</ul>
