<div class="bg-main doc-intro">
	<div class="container">
		<h1 class="fadein-top">综合要闻</h1>
		<p class="fadein-bottom">拼图更新进度、开发动态、Bug反馈，问题探讨。</p>
	</div>
</div>
</div>
<div class="container">
	<div class="line">
		<div class="xl12 xs12 xm9 xb9">
			<!--list.start-->
			<div class="doc-right">
				<div class="panel">
					<div class="panel-body">
						<br />
						<h1 align="center">{{ news.title }}</h1>
						<p class="text-center text-small">
							发布日期：{{ news.createAt | date('Y-m-d') }} &nbsp;&nbsp;浏览量：<span>{{ news.hits }}</span>
						</p>
						<hr />
						<p>
						  {{ news.content | raw }}
						</p>

					</div>
					<span class="tag bg-main float-left margin-small">标签: <a
						href="http://blog.pintuer.com/?tag=pintuer">pintuer</a> <a
						href="http://blog.pintuer.com/?tag=%E5%90%8E%E5%8F%B0">后台</a></span>
					<span class="nextlog float-right margin-small text-main"> &laquo; <a
						href="http://blog.pintuer.com/?post=8">关于拼图浏览器插件上线的通知</a> | <a
						href="http://blog.pintuer.com/?post=6">关于暂停APP模块的更新通知</a>&raquo;
					</span>
					<hr>
					<div class="panel-body border-top">
						<a name="comments"></a> <strong class="text-main comment-header">评论：</strong>
						<div class="comment panel-body border-top text-small"
							id="comment-1377">
							<a name="1377"></a>
							<div class="comment-info">
								<b>地瓜 </b><span class="comment-time">2017-03-13 09:40</span>
								<div
									class="comment-content text-small padding-small-top height-small">
									地址：http://blog.csdn.net/qq_30047693/article/details/61201547<br />
									邮箱：<a class="__cf_email__" href="/cdn-cgi/l/email-protection"
										data-cfemail="dcede5ede8ebe8e9eeee9cadadf2bfb3b1">[email&#160;protected]</a>
									<script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script>
									<br /> 感谢~很喜欢这个框架
								</div>
								<div
									class="comment-reply text-small padding-small-top height-small">
									<a class="tag bg-main" href="#comment-1377"
										onclick="commentReply(1377,this)">回复</a>
								</div>
							</div>
							<div
								class="comment comment-children panel-body border text-small margin-top"
								id="comment-1385">
								<a name="1385"></a>
								<div class="comment-info">
									<b><a href="http://blog.pintuer.com/" target="_blank">大火兔</a> </b><span
										class="comment-time">2017-03-13 11:40</span>
									<div
										class="comment-content text-small padding-small-top height-small">@地瓜：已发</div>
									<div class="comment-reply">
										<a class="tag bg-main" href="#comment-1385"
											onclick="commentReply(1385,this)">回复</a>
									</div>
								</div>
							</div>
						</div>
						<div class="comment panel-body border-top text-small"
							id="comment-1349">
							<a name="1349"></a>
							<div class="comment-info">
								<b>chenghai </b><span class="comment-time">2017-03-01 17:35</span>
								<div
									class="comment-content text-small padding-small-top height-small">
									地址：http://www.cnblogs.com/cqchai/p/6485359.html<br /> 邮箱：<a
										class="__cf_email__" href="/cdn-cgi/l/email-protection"
										data-cfemail="3e5d4f5d565f577e0f0c08105d5153">[email&#160;protected]</a>
									<script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script>
								</div>
								<div
									class="comment-reply text-small padding-small-top height-small">
									<a class="tag bg-main" href="#comment-1349"
										onclick="commentReply(1349,this)">回复</a>
								</div>
							</div>
							<div
								class="comment comment-children panel-body border text-small margin-top"
								id="comment-1384">
								<a name="1384"></a>
								<div class="comment-info">
									<b><a href="http://blog.pintuer.com/" target="_blank">大火兔</a> </b><span
										class="comment-time">2017-03-13 11:40</span>
									<div
										class="comment-content text-small padding-small-top height-small">@chenghai：已发</div>
									<div class="comment-reply">
										<a class="tag bg-main" href="#comment-1384"
											onclick="commentReply(1384,this)">回复</a>
									</div>
								</div>
							</div>
						</div>
						<div id="pagenavi">
							<span>1</span> <a
								href="http://blog.pintuer.com/?post=7&comment-page=2#comments">2</a>
							<a href="http://blog.pintuer.com/?post=7&comment-page=3#comments">3</a>
							<a href="http://blog.pintuer.com/?post=7&comment-page=4#comments">4</a>
							<a href="http://blog.pintuer.com/?post=7&comment-page=5#comments">5</a>
							<a href="http://blog.pintuer.com/?post=7&comment-page=6#comments">6</a>
							<em>...</em> <a
								href="http://blog.pintuer.com/?post=7&comment-page=15#comments"
								title="尾页">&raquo;</a>
						</div>
						<div id="comment-place">
							<div class="comment-post" id="comment-post">
								<div class="cancel-reply" id="cancel-reply"
									style="display: none">
									<a href="javascript:void(0);" onclick="cancelReply()">取消回复</a>
								</div>
								<strong class="text-green comment-header">发表评论：<a name="respond"></a></strong>
								<hr />
								<form method="post" name="commentform"
									action="http://blog.pintuer.com/index.php?action=addcom"
									id="commentform">
									<input type="hidden" name="gid" value="7" />
									<div class="form-group" id="f_1447136101540">
										<div class="field">
											<input class="input" type="text" name="comname"
												maxlength="49" value="" size="22" tabindex="1"
												data-validate="required:请填写昵称" placeholder="请填写昵称">
										</div>
									</div>
									<div class="form-group" id="f_1447136101540">
										<div class="field">
											<textarea class="input" name="comment" id="comment" rows="2"
												tabindex="4" data-validate="required:请填写评论内容"
												placeholder="请填写评论内容"></textarea>
										</div>
									</div>
									<div class="form-group" id="f_1447136116228">
										<p class="form-inline">
											<img src="http://blog.pintuer.com/include/lib/checkcode.php"
												align="absmiddle" /><input name="imgcode" type="text"
												class="input" size="5" tabindex="5" />
										</p>
										<br> <input class="button bg-yellow button-block"
											type="submit" id="comment_submit" value="发表评论" tabindex="6" />
									</div>
									<input type="hidden" name="pid" id="comment-pid" value="0"
										size="22" tabindex="1" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
