{% extends 'base.html.twig' %} 
{% form_theme form 'form_theme_pintuer.html.twig' %}
{% block main_content %}
    <div class="line">
        <div class="x6">
        {% for error in errors %}
        <div class="alert alert-yellow">
            <span class="close rotate-hover"></span><strong>提示：</strong>{{ error }}
        </div>
        {% endfor %}
            {{ form(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-x', 'id': 'form'}}) }}
        </div>
    </div> 
{% endblock %}
