{% extends 'base.html.twig' %}
{# {% form_theme form 'form_theme_pintuer.html.twig' %}#}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="line">
        <div class="x8">
            <blockquote class="quote border-yellow doc-quoteyellow">
    			<strong> 欢迎使用水政执法监督系统</strong>
    		</blockquote>
        </div>
    </div> 
{% endblock %}