<!--banner-->
<div class="banner" data-style="border-white">
	<div class="carousel">
		<div class="item"><img src="{{ asset('static/images/banner1.jpg') }}" width="100%" /></div>
		<div class="item"><img src="{{ asset('static/images/banner2.jpg') }}" width="100%" /></div>
		<div class="item"><img src="{{ asset('static/images/banner3.jpg') }}" width="100%" /></div>
	</div>
</div>
<br />